// Here you can add other styles
.bar-custom {
  height: 350px;
}

.text-mini {
  font-size: 10px;
}

.header-link {
  color: white;
}

.header-link :hover {
  background-color: rgb(255, 255, 255, 0.5);
  color: white;
}

.footermokap {
  background-color: #5f49d2;
  padding-top: 30px;
  padding-bottom: 30px;
}

.aboutus {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
